---
import { Image } from "astro:assets";
import GithubIcon from "@assets/github.svg";
import LinkedInIcon from "@assets/linkedin.svg";
import ProfileIcon from "@assets/profile.webp";
import ArrowIcon from "@assets/arrow-down.svg";
import ReactIcon from "@assets/react.svg";
import SassIcon from "@assets/sass.svg";
import TailwindIcon from "@assets/tailwindcss.svg";
import ReactQueryIcon from "@assets/react-query.svg";
import NodeJsIcon from "@assets/nodejs.svg";
import AstroIcon from "@assets/astro.svg";
import pdf from "@assets/sebastian_llamuca_cv.pdf";
---

<section class="hero" id="#home">
  <div class="hero__container">
    <Image
      src={ProfileIcon}
      alt="profile joji"
      class="hero__profile"
      height="112"
      width="112"
      loading="eager"
    />
    <h1 class="hero__title">Hola, Soy Sebastian Llamuca</h1>
    <h2 class="hero__subTitle">
      Desarrollador Web <span class="hero__color">Front-end</span>
    </h2>
    <p class="hero__paragraph">
      Soy egresado de la carrera <span class="hero__color"
        >Desarrollo de Sistemas de Información</span
      >, encuentro mi pasión en el constante perfeccionamiento de páginas web.
    </p>
    <div class="button">
      <a
        href="https://github.com/SebastianLl28"
        class="button__cta"
        target="_blank"
      >
        <Image
          class="button__icon"
          src={GithubIcon}
          alt="Github Icon"
          loading="eager"
        />
      </a>
      <a
        href="https://www.linkedin.com/in/sebasti%C3%A1n-alonso-llamuca-due%C3%B1as-115b09255/"
        class="button__cta"
        target="_blank"
      >
        <Image
          class="button__icon"
          src={LinkedInIcon}
          alt="LinkedIn Icon"
          loading="eager"
        />
      </a>
      <a href={pdf} target="_blank" class="button__button">Mi CV</a>
    </div>
    <Image
      src={ReactIcon}
      alt="react icon"
      class="hero__bg"
      height="40"
      loading="eager"
    />
    <Image
      src={SassIcon}
      alt="sass icon"
      class="hero__bg"
      height="40"
      loading="eager"
    />
    <Image
      src={TailwindIcon}
      alt="tailwindcss icon"
      class="hero__bg"
      height="40"
      loading="eager"
    />
    <Image
      src={ReactQueryIcon}
      alt="react query icon"
      class="hero__bg"
      height="40"
      loading="eager"
    />
    <Image
      src={NodeJsIcon}
      alt="node js icon"
      class="hero__bg"
      height="40"
      loading="eager"
    />
    <Image
      src={AstroIcon}
      alt="astro icon"
      class="hero__bg"
      height="40"
      loading="eager"
    />
  </div>
  <Image
    src={ArrowIcon}
    alt="arrow icon"
    class="hero__arrow"
    height="40"
    loading="eager"
  />
  <div class="bg"></div>
</section>

<style lang="scss">
  @use "../../scss/_mixins.scss" as *;

  .hero__bg {
    position: absolute;
    width: 7.8rem;
    height: auto;
    opacity: 0.07;
    pointer-events: none;
    user-select: none;
    &:nth-of-type(2) {
      bottom: 3rem;
      left: -13rem;
    }

    &:nth-of-type(3) {
      left: unset;
      right: -22rem;
      bottom: 8rem;
      width: 8rem;
    }
    &:nth-of-type(4) {
      bottom: 2rem;
      right: 18rem;
      left: unset;
    }
    &:nth-of-type(5) {
      left: 16rem;
      bottom: 10rem;
    }
    &:nth-of-type(6) {
      left: -5rem;
      top: 15rem;
      width: 5.5rem;
    }
    &:nth-of-type(7) {
      left: unset;
      right: -10rem;
      width: 5.5rem;
      top: 20rem;
    }
  }

  .hero {
    height: 100dvh;
    max-height: 1100px;
    min-height: 800px;
    display: flex;
    position: relative;
    justify-content: center;
    overflow: hidden;

    &__container {
      @include container;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__profile {
      width: 7rem;
      height: 7rem;
      margin-inline: auto;
      border-radius: 50%;
      border: 2px solid black;
    }

    &__title {
      line-height: 1.5;
      font-weight: bolder;
      text-align: center;
      color: rgb(233, 233, 233);
      font-size: clamp(2.4em, 5vw, 5em);
      text-wrap: balance;
      position: relative;
      transform: translateY(15px);
      opacity: 0.5;
      animation: init-text 0.4s forwards linear;
    }

    &__subTitle {
      font-size: clamp(1.4em, 5vw - 2rem, 2.5em);
      line-height: 1.6;
      font-weight: bold;
      text-align: center;
      position: relative;
      animation: init-text 0.4s forwards linear;
    }

    &__arrow {
      position: absolute;
      bottom: 2rem;
      animation: top-down 0.5s infinite alternate linear;
    }

    @keyframes top-down {
      to {
        transform: translateY(0px);
      }
      from {
        transform: translateY(10px);
      }
    }

    & > .bg {
      border-radius: 30%;
      height: 30rem;
      width: 50dvw;
      background-image: linear-gradient(
        to right top,
        #d16ba5,
        #c777b9,
        #ba83ca,
        #aa8fd8,
        #9a9ae1,
        #8aa7ec,
        #79b3f4,
        #69bff8,
        #52cffe,
        #41dfff,
        #46eefa,
        #5ffbf1
      );
      filter: blur(140px);
      position: absolute;
      z-index: -10;
      top: -2rem;
      transition: all 0.4s;
      animation:
        updown 2s linear infinite forwards alternate,
        init 0.8s forwards;
    }

    &__paragraph {
      font-size: clamp(1em, 5vw - 2.3rem, 1.8em);
      text-align: center;
      line-height: 1.8;
      text-wrap: pretty;
      max-width: 60ch;
      margin-inline: auto;
      margin-top: 0.2em;
      animation: init-text 0.4s forwards linear;
    }

    &__color {
      color: #d16ba5;
    }
  }

  .button {
    padding-top: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    animation: init-text 0.4s forwards linear;

    &__button {
      border: 2px solid #fff;
      padding: 0.8em 2em;
      border-radius: 2rem;
      cursor: pointer;
      transition: all 0.2s linear;
      font-weight: bold;

      &:hover {
        background-color: #ffffff30;
      }
    }

    &__icon {
      height: 2.8rem;
      width: auto;
    }

    &__cta {
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.2s linear;
      &:hover {
        background-color: #ffffff30;
      }
    }
  }

  @keyframes updown {
    from {
      height: 30rem;
    }
    to {
      height: 28rem;
    }
  }

  @keyframes init {
    from {
      transform: translateY(-30rem);
    }
    to {
      transform: translateY(-16rem);
    }
  }

  @keyframes init-text {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
