---
import "./hero.scss";
import { Image } from "astro:assets";
import GithubIcon from "@assets/github.svg";
import LinkedInIcon from "@assets/linkedin.svg";
import ProfileIcon from "@assets/profile.webp";
import ArrowIcon from "@assets/arrow-down.svg";
import ReactIcon from "@assets/react.svg";
import SassIcon from "@assets/sass.svg";
import TailwindIcon from "@assets/tailwindcss.svg";
import ReactQueryIcon from "@assets/react-query.svg";
import NodeJsIcon from "@assets/nodejs.svg";
import AstroIcon from "@assets/astro.svg";
import pdf from "@assets/sebastian_llamuca_cv.pdf";
---

<section class="hero" id="home">
  <div class="hero__container">
    <Image
      src={ProfileIcon}
      alt="profile joji"
      class="hero__profile"
      height="112"
      width="112"
      loading="eager"
    />
    <h1 class="hero__title">Hola, Soy Sebastian Llamuca</h1>
    <h2 class="hero__subTitle">
      Desarrollador Web <span class="hero__color">Front-end</span>
    </h2>
    <p class="hero__paragraph">
      Soy egresado de la carrera <span class="hero__color"
        >Desarrollo de Sistemas de Información</span
      >, encuentro mi pasión en el constante perfeccionamiento de páginas web.
    </p>
    <div class="button">
      <a
        href="https://github.com/SebastianLl28"
        class="button__cta"
        target="_blank"
      >
        <Image
          class="button__icon"
          src={GithubIcon}
          alt="Github Icon"
          loading="eager"
        />
      </a>
      <a
        href="https://www.linkedin.com/in/sebasti%C3%A1n-alonso-llamuca-due%C3%B1as-115b09255/"
        class="button__cta"
        target="_blank"
      >
        <Image
          class="button__icon"
          src={LinkedInIcon}
          alt="LinkedIn Icon"
          loading="eager"
        />
      </a>
      <a href={pdf} target="_blank" class="button__button">Mi CV</a>
    </div>
    <Image
      src={ReactIcon}
      alt="react icon"
      class="hero__bg"
      height="40"
      loading="eager"
    />
    <Image
      src={SassIcon}
      alt="sass icon"
      class="hero__bg"
      height="40"
      loading="eager"
    />
    <Image
      src={TailwindIcon}
      alt="tailwindcss icon"
      class="hero__bg"
      height="40"
      loading="eager"
    />
    <Image
      src={ReactQueryIcon}
      alt="react query icon"
      class="hero__bg"
      height="40"
      loading="eager"
    />
    <Image
      src={NodeJsIcon}
      alt="node js icon"
      class="hero__bg"
      height="40"
      loading="eager"
    />
    <Image
      src={AstroIcon}
      alt="astro icon"
      class="hero__bg"
      height="40"
      loading="eager"
    />
  </div>
  <Image
    src={ArrowIcon}
    alt="arrow icon"
    class="hero__arrow"
    height="40"
    loading="eager"
  />
  <div class="bg"></div>
</section>
