---
import { Image } from "astro:assets";
import ReactIcon from '../assets/react.svg'
import ReactQueryIcon from '../assets/react-query-icon.svg'
import TailwindIcon from '../assets/tailwindcss-icon.svg'
import SassIcon from '../assets/sass.svg'
import NodejsIcon from '../assets/nodejs.svg'
import ArrowUp from '../assets/arrow-up.svg'
---

<section class="hero">
  <h1 class="hero__title">Hola, Soy Sebastian Llamuca</h1>
  <h2 class="hero__subTitle">Desarrollador Web Front-end</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nesciunt earum in incidunt placeat soluta facilis impedit commodi nam excepturi?</p>
  <div class="bg"></div>
  <Image src={ReactIcon} alt="react icon" class="icons hero__icon" />
  <Image src={ReactQueryIcon} alt="react query icon" class="icons hero__icon"/>
  <!-- <img src="/javascript.svg" alt="javaScript icon" class="icons hero__icon"> -->
  <Image src={TailwindIcon} alt="tailwind icon" class="icons hero__icon"/>
  <Image src={SassIcon} alt="sass icon" class="icons hero__icon"/>
  <Image src={NodejsIcon} alt="sass icon" class="icons hero__icon"/>
  <img src="/arrow-up.svg" alt="arrow down icon" class="hero__arrow"/>
</section>

<style lang="scss">
  .hero {
    height: 100dvh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    &__title {
      font-size: 4em;
      line-height: 1.75;
      font-weight: bolder;
    }

    &__subTitle {
      font-size: 1.9em;
      line-height: 1.5;
      font-weight: bold;
    }

    & > .bg {
      border-radius: 30%;
      height: 30rem;
      width: 50rem;
      background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
      filter: blur(140px);
      position: absolute;
      z-index: -10;
      top: -7rem;
      transition: all 0.3s;
      animation: updown 2s linear infinite forwards alternate, init 0.8s forwards;
    }

    &__arrow {
      width: 2rem;
      height: 2rem;
      transform: rotate(180deg);
      position: absolute;
      bottom: 2rem;
      animation: arrow-animation 1.5s linear infinite alternate;
    }

    &__icon{
      &:first-of-type {
        bottom: -2rem;
        left: -2rem;
      }
      
      &:nth-of-type(2) {
        bottom: 50dvh;
        right: -2rem;
      }

      &:nth-of-type(3) {
        width: 5rem;
        height: auto;
        top: 10rem;
        left: 6rem;
      }

      &:nth-of-type(4) {
        width: 7rem;
        height: auto;
        bottom: -2rem;
        right: 6rem;
      }
      &:nth-of-type(5) {
        width: 5.5rem;
        height: auto;
        left: 8rem;
      }
    }
  }

  @keyframes updown {
    from {
      height: 30rem;
    }
    to {
      height: 28rem;
    }
  }

  @keyframes init {
    from {
      transform: translateY(-30rem);
    }
    to {
      transform: translateY(-16rem);
    }
  }  

  @keyframes arrow-animation {
    from {
      transform: translateY(-1.8rem) rotate(180deg);
      
    }
    to {
      transform: translateY(0rem) rotate(180deg);
    }
  }
</style>

<!-- Egresado de la carrera Desarrollo de sistema de información, Desarrollador web. De Lima Perú -->
